<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<gui>true</gui>
	<horizon>1</horizon>
	<samples>4000</samples>
	<discount>1.0</discount>
	<gui>true</gui>
	<system>u_m</system>
	<user>u_u</user>
	<speech_user>s_u</speech_user>
	<speech_system>s_m</speech_system>
	<discretisation>50</discretisation>
	<recording>last</recording>
	<timeout>400</timeout>
</settings>
