<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
<gui>true</gui>
<horizon>1</horizon>
<samples>1500</samples>
<discount>1.0</discount>
<gui>true</gui>
<system>u_m</system>
<discretisation>50</discretisation>
<recording>last</recording>
<user>u_u</user>
<timeout>250</timeout>
</settings>
