<?xml version="1.0" encoding="UTF-8"?>

<settings>

<planning>
	<variable>a_m</variable>
	<horizon>2</horizon>
	<discount>0.9</discount>
</planning>

<gui>
	<showgui>false</showgui>
	<userUtterance>a_u</userUtterance>
	<systemUtterance>a_m</systemUtterance>
<!-- <toMonitor>p_m</toMonitor>
	<toMonitor>i_u</toMonitor> 
	<toMonitor>carried</toMonitor>
	<toMonitor>perceived</toMonitor>  --> 
</gui>

</settings>